
//   @Author: XK
//   @Date: 2025-07-02 09: 48: 47
//   @LastEditTime: 2025-07-15 17: 49: 51
//   @FilePath: app.overlay
//   @Description:

//   Copyright (c) XingYiZhiNeng 2025 , All Rights Reserved.


/ {
	chosen {
		zephyr,display = &hls12vga;
		nordic,pm-ext-flash = &mx25u256;
		// nordic,pm-ext-flash = &mx25r64;
	};
	zephyr,user {
		// ict_15318_sda-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		// ict_15318_scl-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;

		gx8002_sda-gpios = <&gpio1 04 GPIO_ACTIVE_HIGH>;
		gx8002_scl-gpios = <&gpio1 05 GPIO_ACTIVE_HIGH>;
		gx8002_int4-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;

		jsa_1147_sda-gpios = <&gpio1 03 GPIO_ACTIVE_HIGH>;
		jsa_1147_scl-gpios = <&gpio1 02 GPIO_ACTIVE_HIGH>;
		jsa_1147_int1-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;

		es_power_en-gpios = <&gpio1 00 GPIO_ACTIVE_HIGH>;
		mic_pwr_en-gpios = <&gpio0 04 GPIO_ACTIVE_HIGH>;

		key1-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;

	};
	/delete-node/ aliases;
	aliases {
		myimu6 = &i2c0;
		myimu3 = &i2c2;
		// myvda = &i2c3;

		watchdog0 = &wdt0;
	};

};


&pinctrl {
	spi4_default: spi4_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
			        <NRF_PSEL(SPIM_MISO, 0, 10)>,
			        <NRF_PSEL(SPIM_MOSI, 0, 9)>;
			nordic,drive-mode = <NRF_DRIVE_E0E1>;
		};
	};
	spi4_sleep: spi4_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 8)>,
			        <NRF_PSEL(SPIM_MISO, 0, 10)>,
			        <NRF_PSEL(SPIM_MOSI, 0, 9)>;
			low-power-enable;
		};
	};
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 31)>,
					<NRF_PSEL(TWIM_SCL, 0, 30)>;
			bias-pull-up;
			nordic,drive-mode = <NRF_DRIVE_S0D1>;
		};
	};
	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 31)>,
					<NRF_PSEL(TWIM_SCL, 0, 30)>;
			low-power-enable;
		};
	};
	i2c2_default: i2c2_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 15)>,
					<NRF_PSEL(TWIM_SCL, 1, 14)>;
			bias-pull-up;
			nordic,drive-mode = <NRF_DRIVE_S0D1>;
		};
	};
	i2c2_sleep: i2c2_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 15)>,
					<NRF_PSEL(TWIM_SCL, 1, 14)>;
			low-power-enable;
		};
	};
	i2c3_default: i2c3_default {
		group1 {

			psels = <NRF_PSEL(TWIM_SDA, 1, 04)>,
					<NRF_PSEL(TWIM_SCL, 1, 05)>;
			bias-pull-up;
			nordic,drive-mode = <NRF_DRIVE_S0D1>;
		};
	};
	i2c3_sleep: i2c3_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 1, 04)>,
					<NRF_PSEL(TWIM_SCL, 1, 05)>;
			low-power-enable;
		};
	};

	pdm0_default_alt: pdm0_default_alt {
	group1 {
		psels = <NRF_PSEL(PDM_CLK, 1, 12)>,
				<NRF_PSEL(PDM_DIN, 1, 11)>;

	};
	};
};
&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";
	hls12vga: hls12vga@0 {
		compatible = "zephyr,custom-hls12vga";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <32000000>;
		left_cs-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
		right_cs-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&gpio1 01 GPIO_ACTIVE_HIGH>;
		vcom-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
		v1_8-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
		v0_9-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;

		width = <640>;           // 屏幕宽度 (像素)
		// height = <240>;          // 屏幕高度 (像素)
		height = <480>;          // 屏幕高度 (像素)
	};
};
&i2c0 {
	status = "okay";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
};
&i2c2 {
	status = "disabled";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c2_default>;
	pinctrl-1 = <&i2c2_sleep>;
	pinctrl-names = "default", "sleep";
};
&i2c3 {
	status = "disabled";
	compatible = "nordic,nrf-twim";
	pinctrl-0 = <&i2c3_default>;
	pinctrl-1 = <&i2c3_sleep>;
	pinctrl-names = "default", "sleep";
};

dmic_dev: &pdm0 {
    status = "okay";
	compatible = "nordic,nrf-pdm";

	pinctrl-0 = <&pdm0_default_alt>;
	pinctrl-names = "default";
	// clock-source = "ACLK";
};
&gpio1 {
	sense-edge-mask = <0xffffffff>;
};
&gpio0 {
	sense-edge-mask = <0xffffffff>;
};
&nfct {
	status = "disabled";
};
&gpio_fwd {
	// status = "disabled";// 将管脚控制权保留在应用核
	/delete-node/ uart;// 将管脚控制权保留在应用核
};

&pwm0 {
	status = "disabled";
};
&ieee802154 {
	status = "disabled";
};
&uart0 {
	status = "disabled";
};

/delete-node/ &button0;
/delete-node/ &button1;
/delete-node/ &button2;
/delete-node/ &button3;
// /delete-node/ &buttons;
/delete-node/ &led0;
/delete-node/ &led1;
/delete-node/ &led2;
/delete-node/ &led3;
// /delete-node/ &leds;

// &qspi {
// 		status = "okay";
// 		pinctrl-0 = <&qspi_default>;
// 		pinctrl-1 = <&qspi_sleep>;
// 		pinctrl-names = "default", "sleep";
// 		mx25r64: mx25r6435f@0 {
// 					compatible = "nordic,qspi-nor";
// 					reg = <0>;
// 					/* MX25R64 supports only pp and pp4io */
// 					writeoc = "pp4io";
// 					/* MX25R64 supports all readoc options */
// 					readoc = "read4io";
// 					sck-frequency = <32000000>;
// 					jedec-id = [ c2 28 17  ];
// 					sfdp-bfp = [
// 						e5 20 f1 ff  ff ff ff 03  44 eb 08 6b  08 3b 04 bb
// 						ee ff ff ff  ff ff 00 ff  ff ff 00 ff  0c 20 0f 52
// 						10 d8 00 ff  23 72 f5 00  82 ed 04 cc  44 83 68 44
// 						30 b0 30 b0  f7 c4 d5 5c  00 be 29 ff  f0 d0 ff ff
// 					];
// 					size = <67108864>;
// 					has-dpd;
// 					t-enter-dpd = <10000>;
// 					t-exit-dpd = <35000>;
// 		};
// };

/delete-node/ &mx25r64;
&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";
	mx25u256: mx25u256@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX25U256 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX25U256 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <32000000>;//最高 48Mhz
		address-size-32;
		enter-4byte-addr = <0xb7>;
		jedec-id = [ c2 25 39  ];
		sfdp-bfp = [ 
			e5 20 fb ff ff ff ff 0f 44 eb 08 6b 08 3b 04 bb 
			fe ff ff ff ff ff 00 ff ff ff 44 eb 0c 20 0f 52 
			10 d8 00 ff 25 52 dd 00 84 a5 04 e2 44 03 17 38 
			30 b0 30 b0 f7 bd d5 5c 4a 9e 29 ff f0 50 f9 85 ];
		size = <0x2000000>;// 32M
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};